/* Base Styles Here */

/* Small Mobile (Landscape) - The viewport is at LEAST 320px wide */
@media (min-width: 320px){
  .container {
    padding: 0 25px;
  }

  .logo h1 {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  #mobile {
    max-width: 100%;
    height: auto;
  }

  h2 {
    margin-bottom: 5px;
  }

  .sale {
      max-height: 350px;
      overflow-y: scroll;
  }

  .sold {
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
  }

  .sold img {
    max-height: 100%;
  }

  .phm {
    display: block;
    text-align: center;
  }

  #sbt {
    border: 1px solid #003366;
  }

  #rst {
    border: 1px solid #003366;
  }
}

/* Mobile (Portrait) - The viewport is at LEAST 480px wide */
@media(min-width: 480px){







}
