/* Base Styles Here */
h2 {
  text-align: center;
}

/* Small Mobile (Landscape) - The viewport is at LEAST 320px wide */
@media (min-width: 320px){
  .container {
    padding: 0 25px;
  }

  .logo img {
    display: none;
  }

  .logo h1 {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .contact h4 {
    margin-bottom: 5px;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
   }

   td, th {
     border: 1px solid #000;
     text-align: center;
     padding: 5px;
   }

   tr:nth-child(even) {
     background-color: #ddd;
   }

  .sold {
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
  }

  .sold img {
    max-height: 100%;
  }

  .phm {
    display: block;
    text-align: center;
  }

  #sbt {
    border: 1px solid #003366;
  }

  #rst {
    border: 1px solid #003366;
  }
}

/* Mobile (Portrait) - The viewport is at LEAST 480px wide */
@media(min-width: 480px){







}
