/* Tablet (Portrait) - The viewport is at LEAST 768px wide */
@media (min-width: 768px){
  #mobile {
    display: none;
  }

  #desktop {
    display: block;
    float: left;
    width: 150px;
    height: auto;
    padding: 5px 0px;
  }

  .logo h1 {
    float: left;
    max-width: 568px;
    padding: 25px 0px;
  }
  .menu {
  display: none;
  }

  #contact {
    text-align: center;
  }

  .sale {
    max-width: 100%;
    max-height: 484px;
    overflow-y: scroll;
  }

  #sold {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  #mortgage-calc {
    text-align: center;
  }

  /* contact form */
  .left {
    float: left;
    text-align: right;
    width: 45%;
    padding-right: 5%;
  }

  .right {
    float: left;
    width: 50%;
  }
}

/* Tablet (Landscape) - The viewport is at LEAST 1024px wide */
@media (min-width: 1024px){
  .logo h1 {
    max-width: 768px;
    margin: 20px 20px;
  }

  #contact {
    float: left;
    width: 300px;
    padding: 100px 0px;
    margin-right: 100px;
    height: auto;
    text-align: center;
  }

  .sold {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  .sale {
    float: left;
    max-width: 500px;
    height: auto;
    margin: auto;
  }
}
